In [1]:
import numpy as np
import pandas as pd

In [2]:
PlayerList = ["Pagbo","Grazemen","Cantay","Ravane"]
SkillList=["Shooting","Passing","Defending"]

#For this example, we have a random number generator for our scout
#I wouldn't recommend this for an actual team
ScoresArray = np.random.randint(1,10,(4,3))

In [3]:
df = pd.DataFrame(data=ScoresArray, index=PlayerList, columns=SkillList)
df

          Shooting  Passing  Defending
Pagbo            9        8          8
Grazemen         6        3          4
Cantay           8        7          1
Ravane           7        7          9

In [4]:
df['Shooting']

Pagbo       9
Grazemen    6
Cantay      8
Ravane      7
Name: Shooting, dtype: int64

In [5]:
df['Passing']

Pagbo       8
Grazemen    3
Cantay      7
Ravane      7
Name: Passing, dtype: int64

In [6]:
df['Defending']

Pagbo       8
Grazemen    4
Cantay      1
Ravane      9
Name: Defending, dtype: int64

In [7]:
df.loc['Pagbo']

Shooting     9
Passing      8
Defending    8
Name: Pagbo, dtype: int64

In [8]:
df.loc['Grazemen']

Shooting     6
Passing      3
Defending    4
Name: Grazemen, dtype: int64

In [9]:
df.iloc[0:2]

          Shooting  Passing  Defending
Pagbo            9        8          8
Grazemen         6        3          4

In [10]:
df.iloc[1:3]

          Shooting  Passing  Defending
Grazemen         6        3          4
Cantay           8        7          1

In [11]:
df['Communication'] = np.random.randint(1,10,4)

In [12]:
df

          Shooting  Passing  Defending  Communication
Pagbo            9        8          8              1
Grazemen         6        3          4              8
Cantay           8        7          1              2
Ravane           7        7          9              4

In [14]:
df = df.drop('Defending',axis=1)

In [15]:
df

          Shooting  Passing  Communication
Pagbo            9        8              1
Grazemen         6        3              8
Cantay           8        7              2
Ravane           7        7              4

In [17]:
df.drop('Grazemen',axis = 0)

        Shooting  Passing  Communication
Pagbo          9        8              1
Cantay         8        7              2
Ravane         7        7              4

In [18]:
df.loc['Gomez'] = np.random.randint(1,10,3)
df

          Shooting  Passing  Communication
Pagbo            9        8              1
Grazemen         6        3              8
Cantay           8        7              2
Ravane           7        7              4
Gomez            8        2              7